<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">

<listeners>
      <listener class-name= "com.ExtentReportListener.ExtentReporterNG"/>
      </listeners>
  <test thread-count="5" name="Techfios Test Case">
    <classes>
      <class name="com.TestCases.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
